@tailwind base;
@tailwind components;
@tailwind utilities;

.underline-animation{
    cursor: pointer;
    position: relative;
}
.underline-animation::after{
    content: '';
    position: absolute;
    width: 105%;
    height: 3px;
    background: #f4f4f4;
    left: 0;
    top: 28px;
    transform-origin: right;
    transform: scaleX(0);
    transition: .5s;
}
.underline-animation:hover::after{
    transform: scale(1);
}
bg-img{
    background-image: url(../public/background-img.png);
}