@tailwind base;
@tailwind components;
@tailwind utilities;


*{
   font-family: sans-serif;
}


.underline-animation{
    cursor: pointer;
    position: relative;
}
.underline-animation::after{
    content: '';
    position: absolute;
    width: 105%;
    height: 3px;
    background: black;
    left: 0;
    top: 28px;
    transform-origin: right;
    transform: scaleX(0);
    transition: .5s;
}
.underline-animation:hover::after{
    transform: scale(1);
}



.underline-animation-sm{
    cursor: pointer;
    position: relative;
}
.underline-animation-sm::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: black;
    left: 0;
    top: 50px;
    transform-origin: right;
    transform: scaleX(0);
    transition: .2s;
}
.underline-animation-sm:hover::after{
    transform: scale(1);
}

.product-font{
    font-family: 'Times New Roman', Times, serif;
}


@keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
} 
.slide-in {
    animation: slideIn 0.2s ease-out forwards;
}




.bg-perfume-1{
    background-image: url(/productimg/perfume-1-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.bg-perfume-2{
    background-image: url(/productimg/perfume-2-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.bg-perfume-3{
    background-image: url(/productimg/perfume-3-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.bg-perfume-4{
    background-image: url(/productimg/perfume-4-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.bg-perfume-5{
    background-image: url(/productimg/perfume-5-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.bg-perfume-6{
    background-image: url(/productimg/perfume-6-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

  
  .fade-in {
    opacity: 1;
    transition: opacity 0.3s ease-in;
  }
  
  .fade-out {
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }

  /* CSS animation for slide up */
@keyframes slide-up {
    from {
      opacity: 0;
      transform: translateY(100px); /* Starts 100px below */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* Ends at normal position */
    }
  }
  
  /* Add class for the animation */
  .slide-up {
    opacity: 0;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  
  .slide-up-visible {
    animation: slide-up 0.5s forwards ease-out; /* Animation triggers */
  }



